<div class="container">
	<div class="hero-unit center">
		<h1>activeOverlord</h1>

		<h2>...tracking app activity better than the NSA since 1899.</h2>
		<a href="/user/new" class="btn btn-large btn-primary">Sign up now!</a>
	</div>
</div>